.singlePhoto {
    -webkit-box-shadow: 0px 0px 17px 0px rgba(20, 31, 95, 0.77);
    -moz-box-shadow: 0px 0px 17px 0px rgba(20, 31, 95, 0.77);
    box-shadow: 0px 0px 17px 0px rgba(20, 31, 95, 0.77);
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    .img-contain {
        display: flex;
        justify-content: center;
        img {
            max-width: 370px;
            max-height: 370px;
            transition: 0.3s all ease;
            &:hover {
                opacity: 0.65;
            }
        }
    }
    .text-content {
        word-break: break-all;
        h3 {
            font-size: 16px;
            font-weight: 400;
        }
    }
}
